#title {
  background-color: lightblue;
}

.container-fluid {
  padding: 3% 15%;
}

h1{
  font-family: 'Ubuntu';
  font-size: 3rem;
  font-weight:bold;
  line-height:2;
  color:white;
}

h2{
  color:white;
  font-family: 'Ubuntu';
  font-weight:bold;
  line-height:2;
}
h3{
  font-family:'Ubuntu';
  font-weight:bold;
}

p{
  color:darkgrey; 
}

.navbar {
  padding-bottom: 0 0 3rem;
}

.navbar-brand {
  font-family: 'Montserrat',sans-serif';
  font-size: 10 rem;
  font-weight:bold
}

.navbar-item {
  padding: 0 15px
}

.nav-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 2 rem;
  font-weight: bold;
}

.download-button {
  margin: 5% 3% 5% 0;
}

.title-image {
  width: 60%;
  transform: rotate(15deg);
  position: absolute;
}
@media (max-width: 1000px){
  #title {
    text-align: center;
  }
  .title-image{
    position: static;
    transform:rotate(0);
  } 
}

#Resume {
  padding: 6% 12%;
  background-color:beige;
  position: relative;
  z-index: 1;
}

.resume-title {
  font-family:'Ubuntu';
  font-size:35px;
  font-weight: bold;
  line-height:2;
  text-align: center;
}

.resume-link{
  font-size:20px;
  line-height:2;
  text-align: center;
}

.resume-picture{
  height:15cm;
  width:12cm;
  align-items: center;
  display: block;
  margin: auto;
}

#PassWorkSamples {
  padding: 90px;
  text-align: center;
  background-color:lightgoldenrodyellow;
}

.passworksamples {
  font-family:'Ubuntu';
  font-size: 35px;
  font-weight: bold;
  line-height:2;
  text-align: center;
}

.studybuddy-picture{
  height:15cm;
  width:23cm;
  align-items: center;
  display: block;
  margin: auto;
}

.StudyBuddy-link {
  font-size:20px;
  line-height:2;
  text-align: center;
}

.figma-picture{
  height:15cm;
  width:23cm;
  align-items: center;
  display: block;
  margin: auto;
}

.figma-link {
  font-size:20px;
  line-height:2;
  text-align: center;
}

.critique-picture{
  height:15cm;
  width:23cm;
  align-items: center;
  display: block;
  margin: auto;
}

.critique-link {
  font-size:20px;
  line-height:2;
  text-align: center;
}

#cta {
  background-color: lightblue;
  color:white;
  padding: 6% 12%;
  text-align: center;
}

.cta-heading {
  font-family:'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
  line-height:2;
}

.cta-info {
  font-size:20px;
  line-height:2;
  text-align: center;
  color:black
}

#footer {
  padding:6% 12%;
  text-align: center;
}

.social-icon {
  margin: 15px 10px;
}